img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1200px; /** Størrelse på skærm **/
  margin-inline: auto; /** Centrerer **/
  padding-left: 1rem; /** Venstre luft **/
  padding-right: 1rem; /** Højre luft **/
}

/*********************index****************/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10rem;
}

.cat_1 {
  display: grid;
  grid-column: span 3;
  grid-template-columns: subgrid;
  gap: inherit;
  margin-top: 3rem;
}

.cat_2 {
  display: grid;
  grid-column: span 3;
  grid-template-columns: subgrid;
  gap: inherit;
}

.container p {
  color: black;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
}
a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 5rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

/*************produktlliste******************/
.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
  grid-template-rows: repeat(5, auto);
  position: relative;
}

.box {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: auto/span 4;
  gap: 0.5rem;
}
.discount {
  position: absolute;
  bottom: 1%;
  right: 53%;
  background-color: crimson;
  padding: 5px;
}
.sold_out {
  filter: grayscale(100%);
  position: relative;
}
.sold_out_text {
  position: absolute;
  top: 24%;
  left: 57%;
  color: crimson;
  font-size: 30px;
}
.sold_out_2 {
  filter: grayscale(100%);
  position: relative;
}
.sold_out_text_2 {
  position: absolute;
  top: 24%;
  left: 82%;
  color: crimson;
  font-size: 30px;
}
.discount_2 {
  position: absolute;
  background-color: crimson;
  padding: 5px;
  bottom: 1%;
  right: 1%;
}

h2 {
  font-size: 20px;
  font-weight: 200;
}
h3 {
  font-weight: 200;
  font-size: 15px;
}

/*****************product***************/
.product_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-rows: repeat(9, auto);
}
.kurv {
  background-color: lightgray;
  padding: 1.5rem;
}
.product_box {
  display: grid;

  grid-row: auto/span 9;
}
.kurv {
  display: grid;

  grid-row: auto/span 9;
  gap: 0.5rem;
}
.product_img {
  display: grid;

  grid-row: auto/span 9;
  gap: 0.5rem;
}
